.row {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
  }

  .row__title {
    text-shadow: 0.05em 0.05em 0.1em #000;
  }

  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    padding: 20px;
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  
  .row__poster {
    object-fit: contain;
    /*width: 100%;*/
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row__poster:hover {
    transform: scale(1.08);
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    transform: scale(1.09);
  }
  
  
  .row__left-arrow,
  .row__right-arrow {
      display: flex;
      align-items: center;
      font-size: 3rem;
      z-index: 1;
      opacity: 0.8;
      color: white;
      height: 100%;
  
  }

