.searchbar {
    position: fixed;
    right: 180px;
    width: 30px;
    object-fit: contain;
  }

  .searchbar__search-icon {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 1;
    color: #e5e5e5;
  }

  .searchbar__input {
    width: 150px;
    background: black;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    
    -webkit-transition: width 0.55s ease;
    -moz-transition: width 0.55s ease;
    -ms-transition: width 0.55s ease;
    -o-transition: width 0.55s ease;
    transition: width 0.55s ease;
  }